body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  border: 2px solid rgb(7, 100, 30);
  text-align: center;
  width: 90%;
  margin: 70px auto 0;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
}
.heading {
  margin: 0 0 20px;
  color: rgb(7, 100, 30);
}
.input {
  display: block;
  margin: 0 auto 10px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid grey;
  border-radius: 5px;
  font-size: 1.5em;
  text-align: center;
  outline: 0;
}
.input:focus {
  border: 2px solid rgb(7, 100, 30);
}
.button {
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
  background: #292929;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 5px;
  cursor: pointer;
  outline: 0;
}
.loading {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 10px;
}
.result-heading {
  color: rgb(7, 100, 30);
  font-size: 1.8em;
  margin: 0 0 10px;

}
.description {
  font-size: 1.5em;
  margin: 0;
}
.image {
   width: 60px;

}
.span {
  color: #292929;
  padding: 5px;
  font-size: 1.5em;
  font-weight: bold;
}
.span2 {
  padding: 0 20px;
  border-left: 1px solid rgb(7, 100, 30);
  border-right: 1px solid rgb(7, 100, 30);
}

@media (min-width: 640px) {
  .container {
  width: 50%;
}
}